*, 
*::before, 
*::after{
font-family: Verdana, Tahoma, sans-serif;
}

/* css varible */
:root{
  --white_clr: #fff;
   --main-btn-color:rgba(0,0,0,0.3);
}
.slider_container{
  width: 100%;
  aspect-ratio: 10/4.5;
  position: relative;
}

.slider_image{
  width: 100%;
  height: 100%;
}
.slider_image_btn{
  top: 0;
  bottom: 0;
  display: block;
  position: absolute;
  background-color: var(--main-btn-color);
  color: var(--white-clr);
}