.slider_container{
  width: 100%;
  aspect-ratio: 10/4.5;
  position: relative;
  height: 100%;
}

.slider_image{
  width: 100%;
  height: 100%;
}
.slider_image_btn{
  top: 0;
  bottom: 0;
  display: block;
  position: absolute;
  background-color: var(--main-btn-color);
  color: var(--white-clr);
  padding: 1rem;
}
.slider-content{
  position: absolute;
  bottom: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.slider-content >*{
  color: white;
}
.slider_image_dots{
      position: absolute;
    bottom: .5rem;
    left: 50%;
    translate: -50%;
    display: flex;
    gap: 10px;
}
.links{
    text-decoration: none;
    padding: 10px 1rem;
    background-color: #de1818;
    color: #fff;
    border-radius: 5px;
    margin: 10px 0;
    font-weight: bold;
    font-size: 1.5rem;
   
}
.slider_controls{
    position:absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}
.dots{
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
    gap: 7px;

}
.dots span{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ccc;
    cursor: pointer;
  
}
.dots span.active{
    background-color: #de1818;
}

/* media */

@media screen and (max-width:820px) {
    .links{
        font-size: 1.1rem;
         padding: 7px 1rem;
    }
    h2{
        font-size: 1.3rem;
    }
}